{% load field_updater_tags %}
<html>
    <head>
        <style>
        .code {
            background-color: lightgray;
            padding: 5px;
            border-radius: 3px;
        }
        </style>
    </head>
    <body>
        <section>
            <h1>Field Updater Examples</h1>
            <h2>simple use</h2>
            <p>
                Provide a submit url and a single key word argument<br />
                Click the value to show an input, edit it and submit
                A POST request will be sent to the url with body form encoded <code>key=value</code>

            </p>
            <div class="code">
                {% verbatim %}
                {% url 'example_submit' as submit_url %}
                <br />
                {% field_updater submit_url=submit_url  key='value' %}
                {% endverbatim %}
            </div>
            {% url 'example_submit' as submit_url %}
            {% field_updater submit_url=submit_url  key='value' %}

            <h2>input types</h2>
            <p>
            Provide an options dict containing <code>inputAttributes</code> which will be set on the input element displayed</br />
            context['updater_options_number'] = {{ updater_options_number|to_str}}
            </p>
            <div class="code">
                {% verbatim %}
                {% url 'example_submit' as submit_url %}
                <br />
                {% field_updater submit_url=submit_url  key=42 options=updater_options_number %}
                {% endverbatim %}
            </div>
            {% url 'example_submit' as submit_url %}
            {% field_updater submit_url=submit_url key=42 options=updater_options_number %}

            <h2>allow deletion</h2>
            <p>
            Provide an options dict containing <code>allowDelete = True</code><br />
            context['updater_options_delete'] = {{ updater_options_delete|to_str}}
            </p>
            <div class="code">
                {% verbatim %}
                {% url 'example_submit' as submit_url %}
                <br />
                {% field_updater submit_url=submit_url  key='deleteable' options=updater_options_delete %}
                {% endverbatim %}
            </div>
            {% url 'example_submit' as submit_url %}
            {% field_updater submit_url=submit_url key='deleteable' options=updater_options_delete %}

            <h2>sending custom headers</h2>
            <p>
            Provide an options dict defining a headers dict<br />
            context['updater_options_headers'] = {{ updater_options_headers|to_str}}
            </p>
            <div class="code">
                {% verbatim %}
                {% url 'example_submit' as submit_url %}
                <br />
                {% field_updater submit_url=submit_url  key='headers' options=updater_options_headers %}
                {% endverbatim %}
            </div>
            {% url 'example_submit' as submit_url %}
            {% field_updater submit_url=submit_url key='headers' options=updater_options_headers %}

            <h2>Regex validation</h2>
            <p>
            Provide an options dict containing inputAttributes<br />
            context['updater_options_regex'] = {{ updater_options_regex|to_str}}
            </p>
            <div class="code">
                {% verbatim %}
                {% url 'example_submit' as submit_url %}
                <br />
                {% field_updater submit_url=submit_url  key='headers' options=updater_options_regex %}
                {% endverbatim %}
            </div>
            {% url 'example_submit' as submit_url %}
            {% field_updater submit_url=submit_url key='headers' options=updater_options_regex %}

            <h2>If-Match</h2>
            <p>
            Provide an if_match value to send an If-Match ETag value <br />
            </p>
            <div class="code">
                {% verbatim %}
                {% url 'example_submit' as submit_url %}
                <br />
                {% field_updater submit_url=submit_url  key='if-match' if_match='sdasdasdasd' %}
                {% endverbatim %}
            </div>
            {% url 'example_submit' as submit_url %}
            {% field_updater submit_url=submit_url  key='if-match' if_match='sdasdasdasd' %}
        </section>
    </body>
</html>
